@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


*{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
/*index page style*/
.main_div{
background-color:   #94bccc;
color:  #FFFFFF;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.heading_div{
  text-align: center;
}
.heading_div h1{
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}
.heading_div h2{
  font-weight: bold;
  letter-spacing: 2px;
}
.heading_div a{
  color: white;
  letter-spacing: 2px;
  font-size: 1.7rem;
  font-weight: bold !important;

  border: 3px solid white;
  border-radius:2rem ;

}
.heading_div a:hover{
  color: white;

}
/*form page css*/
.form_row{
  background-color: #2f6275;
}
#btncss{
  font-size: 1.5rem;
  color: white;
  
  letter-spacing: 2px;
  background-color: #2f6275;
}
.footer_row{
    background-color: #2f6275;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      padding: 5px;
}